﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            https://www.notion.so/Plantilla-c-mo-me-organizo-con-Notion-af8026c4c2b145a982f77a00b1373a1f
        </div>
    </form>
</body>
</html>
